<% if @guests.empty? %>
  
  <h1>No guests currently signed in.</h1>

<% else %>

  <h1>Listing guests</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Form</th>
      <th>Student</th>
    </tr>
  
    <% for guest in @guests %>

      <tr class = " <%= cycle("even", "odd") %> " >
        <td><%= link_to guest.name, guest_path(guest) %></td>
        <td><%= guest.has_form %></td>
        <td><%= guest.student_id %></td>
        <td><%= link_to image_tag("delete.png"), {:action => 'delete', :id => guest.id} %></td>
      </tr>
  
    <% end %>

  </table>
  
<% end %>

<br />

<%= link_to '<input type="submit" value="Add Guest" />', new_guest_path %>
