<h1>New guest</h1>

<% form_for(@guest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :student_name %>
    <%= text_field_with_auto_complete :guest, :student_name, { :size => 30 }, 
    { :url => formatted_students_path(:js), 
      :method => :get, :with => "'search=' + element.value", :skip_style => true} %>
  </p>
  
  <p>
    <%= f.label :has_form %><br />
    <%= f.select :has_form, [["Yes", true], ["No", false]] %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
  
<% end %>

<%= link_to 'Back', guests_path %>
